In [6]:
import pandas as pd 

# 마케팅역량정보
df1 = pd.read_csv('C:/Users/DMC CONET/Desktop/이리온정 프로젝트/Untitled Folder/데이터/마케팅역량정보.csv',encoding='cp949')
df1

C:\Users\DMC CONET\AppData\Local\Temp\ipykernel_14172\2996769518.py:3: DtypeWarning: Columns (3,5,7,9,11,13,17,18,20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('C:/Users/DMC CONET/Desktop/이리온정 프로젝트/Untitled Folder/데이터/마케팅역량정보.csv',encoding='cp949')

,사업자등록번호,데이터수집일자,최종마케팅점수,최종마케팅등급,고객만족도점수,고객만족도등급,시장잠재력점수,시장가능성등급,광고캠페인점수,광고캠페인등급,...,광고캠페인효과등급,광고캠페인과정점수,광고캠페인과정등급,광고캠페인지속점수,광고캠페인주기점수,광고캠페인예산점수,작업구분코드,데이터생성일자,연계처리상태코드,연계처리일자
0,1058638988,20211010,57.702420,D,10.000000,대체로 부정적,19.160000,E,28.542420,C,...,준수한 효과,71.850000,미비한 효과,55.0,88.700000,NaN,I,20211025,N,NaN
1,5010863858,20211010,70.803404,C,13.750000,대체로 부정적,19.160000,E,37.893404,A,...,강력한 효과,94.769595,미비한 효과,100.0,89.539189,NaN,I,20211025,N,NaN
2,1048158875,20211010,48.542546,E,10.000000,대체로 부정적,19.160000,E,19.382546,E,...,미비한 효과,48.533333,미비한 효과,54.0,43.066667,NaN,I,20211025,N,NaN
3,2148687901,20211010,53.071410,D,10.000000,대체로 부정적,19.160000,E,23.911410,D,...,준수한 효과,59.850000,미비한 효과,54.0,65.700000,NaN,I,20211025,N,NaN
4,1068149784,20211010,47.120000,E,10.000000,대체로 부정적,19.160000,E,17.960000,E,...,미비한 효과,45.000000,강력한 효과,51.0,39.000000,NaN,I,20211025,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427018,4111425061,20221001,NaN,NaN,13.728454,NaN,93.688454,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
427019,4111426148,20221001,NaN,NaN,13.728454,NaN,93.688454,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
427020,4111432387,20221001,NaN,NaN,13.728454,NaN,93.688454,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
427021,4111444447,20221001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
427022,4111447430,20221001,NaN,NaN,13.728454,NaN,93.688454,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN

In [ ]:
df1

In [41]:
df2 = pd.read_csv('C:/Users/DMC CONET/Desktop/이리온정 프로젝트/Untitled Folder/데이터/mapping_info.csv')
df2_fix =df2.rename(columns = {'사업자등록번호':'real 사업자등록번호', '사업자등록번호_마스킹':'사업자등록번호'})
df2_fix

df1['사업자등록번호']


count = 0
for i in df1['사업자등록번호']:
    for j in df2_fix['사업자등록번호']:
        if i == j:
            count += 1
print(f'result : {count}')

result : 117

In [11]:
df3 = pd.read_csv('C:/Users/DMC CONET/Desktop/이리온정 프로젝트/Untitled Folder/데이터/CRI등급 리스트.csv')
df3

        Unnamed: 0       사업자번호
0                0  1000861574
1                1  1008109981
2                2  1008110000
3                3  1008134092
4                4  1008202349
...            ...         ...
967129      967129  9998100003
967130      967130  9998100009
967131      967131  9998100029
967132      967132  9998141187
967133      967133  9998299999

[967134 rows x 2 columns]

In [13]:
df4 = pd.read_csv('C:/Users/DMC CONET/Desktop/이리온정 프로젝트/Untitled Folder/데이터/신용등급정보.csv',encoding='cp949')
df4

,사업자등록번호,데이터수집일자,기업코드,기업명,업종,업종명,기업규모,기업규모명,CRI등급,CRI기준일,결산일자,CRI등급설명,CRI등급명세,작업구분코드,데이터생성일자,연계처리상태코드,연계처리일자
0,1010100001,20220519.0,2898316.0,드****,M,NaN,2.0,중소기업,B1,20220515.0,20191231.0,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",양호,I,20221104,NaN,NaN
1,1010100001,20220519.0,2898316.0,드****,M,NaN,2.0,중소기업,B1,20220515.0,20191231.0,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",양호,I,20221104,NaN,NaN
2,1010100001,20220107.0,2898316.0,드****,M,NaN,2.0,중소기업,B2,20211231.0,20191231.0,"비교적 무난한 수준의 단기거래 신용능력을 보유하지만, 장래의 거래안정성에 다소 부정...",양호,I,20221104,NaN,NaN
3,1010100001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN
4,1010200002,20220519.0,2059915.0,씨****,M,NaN,2.0,중소기업,B3,20220515.0,20201231.0,"단기간의 신용능력은 인정되지만, 향후 환경변화에 따른 지급확실성 저하 가능성이 상존...",양호,I,20221104,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21544,8998709998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN
21545,8998709999,20221022.0,8472516.0,링****,NaN,정보통신업,NaN,중소기업,C2,20220719.0,NaN,"채무불이행 발생 가능성을 내포하고 있으며, 상위등급에 비해 거래안정성이 매우 낮은 ...",NaN,I,20221104,NaN,NaN
21546,8998709999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN
21547,8998810000,20221022.0,8384103.0,에****,NaN,정보통신업,NaN,중견기업,A3,20220719.0,NaN,"우위의 단기거래 신용능력이 인정되어, 채무불이행으로 인한 위험 가능성이 비교적 낮은...",NaN,I,20221104,NaN,NaN
21548,8998810000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN

In [15]:
df5 = pd.read_csv('C:/Users/DMC CONET/Desktop/이리온정 프로젝트/Untitled Folder/데이터/재무제표정보.csv',encoding='cp949')
df5

C:\Users\DMC CONET\AppData\Local\Temp\ipykernel_14172\2376385166.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv('C:/Users/DMC CONET/Desktop/이리온정 프로젝트/Untitled Folder/데이터/재무제표정보.csv',encoding='cp949')

,Unnamed: 0,사업자등록번호,순번,데이터수집일자,조사년도,재무보고서구분코드,재무보고서명칭,상세구분코드,상세구분명칭,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,구성비율,증감율,작업구분코드,데이터생성일자,연계처리상태코드,연계처리일자
0,0,3148104968,1,20211019,2016,1,재무상태표,anly,분석형,201612.0,M11000,유동자산,2110794.0,63.12,-15.86,I,20221104,NaN,NaN
1,1,3148104968,2,20211019,2016,1,재무상태표,anly,분석형,201612.0,M11100,당좌자산,1967978.0,58.85,-20.91,I,20221104,NaN,NaN
2,2,3148104968,3,20211019,2016,1,재무상태표,anly,분석형,201612.0,M11500,재고자산,142816.0,4.27,592.84,I,20221104,NaN,NaN
3,3,3148104968,4,20211019,2016,1,재무상태표,anly,분석형,201612.0,M12000,비유동자산,1233239.0,36.88,-0.49,I,20221104,NaN,NaN
4,4,3148104968,5,20211019,2016,1,재무상태표,anly,분석형,201612.0,M12100,투자자산,560563.0,16.76,0.00,I,20221104,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86347,86347,2158109953,86348,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M12100,투자자산,NaN,NaN,NaN,I,20221104,NaN,NaN
86348,86348,2158109953,86349,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M14900,자산총계,NaN,NaN,NaN,I,20221104,NaN,NaN
86349,86349,2158109953,86350,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M15000,유동부채,NaN,NaN,NaN,I,20221104,NaN,NaN
86350,86350,2158109953,86351,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M16000,비유동부채,NaN,NaN,NaN,I,20221104,NaN,NaN
86351,86351,2158109953,86352,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M16900,부채총계,NaN,NaN,NaN,I,20221104,NaN,NaN

## mapping 과 신용등급정보 합치기

In [28]:
df_merge1 = pd.merge(df2_fix,df4,on='사업자등록번호') #84
df_merge1

,real 사업자등록번호,사업자등록번호,기업명_x,대표자명,데이터수집일자,기업코드,기업명_y,업종,업종명,기업규모,기업규모명,CRI등급,CRI기준일,결산일자,CRI등급설명,CRI등급명세,작업구분코드,데이터생성일자,연계처리상태코드,연계처리일자
0,1018160412,1018100030,아이진,유원일,20221022.0,1156827.0,삼****,NaN,도매 및 소매업,NaN,중소기업,A3,20220719.0,NaN,"우위의 단기거래 신용능력이 인정되어, 채무불이행으로 인한 위험 가능성이 비교적 낮은...",NaN,I,20221104,NaN,NaN
1,1018160412,1018100030,아이진,유원일,20220418.0,1156827.0,삼****,M,NaN,2.0,중소기업,A3,20220415.0,20200630.0,"우위의 단기거래 신용능력이 인정되어, 채무불이행으로 인한 위험 가능성이 비교적 낮은...",우수,I,20221104,NaN,NaN
2,1018160412,1018100030,아이진,유원일,20220107.0,1156827.0,삼****,M,NaN,2.0,중소기업,A3,20220101.0,20200630.0,"우위의 단기거래 신용능력이 인정되어, 채무불이행으로 인한 위험 가능성이 비교적 낮은...",우수,I,20221104,NaN,NaN
3,1018160412,1018100030,아이진,유원일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN
4,1028137869,1028100142,삼일씨엔에스,정용근,20221022.0,1432390.0,뉴****,NaN,정보통신업,NaN,중소기업,A2,20220719.0,NaN,"양호한 단기거래 신용능력을 보유하여, 채무불이행으로 인한 위험 가능성이 낮으며, 현...",NaN,I,20221104,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,6178179319,6178108698,남경종합건설,이동화,20221022.0,1413721.0,선****,NaN,건 설 업,NaN,중소기업,B1,20220719.0,NaN,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",NaN,I,20221104,NaN,NaN
80,6178179319,6178108698,남경종합건설,이동화,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN
81,6178172558,6178108726,유진이엔지,김형근,20221022.0,3910222.0,정****,NaN,건 설 업,NaN,중소기업,B1,20220719.0,NaN,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",NaN,I,20221104,NaN,NaN
82,6178172558,6178108726,유진이엔지,김형근,20220418.0,3910222.0,정*****,M,NaN,2.0,중소기업,B1,20220415.0,20211231.0,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",양호,I,20221104,NaN,NaN
83,6178172558,6178108726,유진이엔지,김형근,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN

# mapping, 신용등급정보 + 재무제표정보

In [32]:
df_merge2 = pd.merge(df_merge1,df5,on='사업자등록번호') #738
df_merge2.columns

Index(['real 사업자등록번호', '사업자등록번호', '기업명_x', '대표자명', '데이터수집일자_x', '기업코드',
       '기업명_y', '업종', '업종명', '기업규모', '기업규모명', 'CRI등급', 'CRI기준일', '결산일자',
       'CRI등급설명', 'CRI등급명세', '작업구분코드_x', '데이터생성일자_x', '연계처리상태코드_x', '연계처리일자_x',
       'Unnamed: 0', '순번', '데이터수집일자_y', '조사년도', '재무보고서구분코드', '재무보고서명칭',
       '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드', '재무제표계정과목명', '재무제표계정과목금액',
       '구성비율', '증감율', '작업구분코드_y', '데이터생성일자_y', '연계처리상태코드_y', '연계처리일자_y'],
      dtype='object')

### mapping, 신용등급정보 , 재무제표정보 + 마케팅역량정보

In [30]:
pd.merge(df_merge2, df1,on='사업자등록번호') #0 ????

Empty DataFrame
Columns: [real 사업자등록번호, 사업자등록번호, 기업명_x, 대표자명, 데이터수집일자_x, 기업코드, 기업명_y, 업종, 업종명, 기업규모, 기업규모명, CRI등급, CRI기준일, 결산일자, CRI등급설명, CRI등급명세, 작업구분코드_x, 데이터생성일자_x, 연계처리상태코드_x, 연계처리일자_x, Unnamed: 0, 순번, 데이터수집일자_y, 조사년도, 재무보고서구분코드, 재무보고서명칭, 상세구분코드, 상세구분명칭, 재무제표기준년월, 재무제표계정과목코드, 재무제표계정과목명, 재무제표계정과목금액, 구성비율, 증감율, 작업구분코드_y, 데이터생성일자_y, 연계처리상태코드_y, 연계처리일자_y, 데이터수집일자, 최종마케팅점수, 최종마케팅등급, 고객만족도점수, 고객만족도등급, 시장잠재력점수, 시장가능성등급, 광고캠페인점수, 광고캠페인등급, 시장제공물부정의견점수, 시장제공물부정의견등급, 시장제공물긍정의견점수, 시장제공물긍정의견등급, 시장성장성점수, 시장수익성점수, 시장점유율점수, 시장잠재력등급, 시장점유율등급, 광고캠페인효과점수, 광고캠페인효과등급, 광고캠페인과정점수, 광고캠페인과정등급, 광고캠페인지속점수, 광고캠페인주기점수, 광고캠페인예산점수, 작업구분코드, 데이터생성일자, 연계처리상태코드, 연계처리일자]
Index: []

[0 rows x 67 columns]

# 마케팅역량 + mapping

In [35]:
df_merge_2_1 = pd.merge(df1,df2_fix,on='사업자등록번호')
df_merge_2_1   #117

,사업자등록번호,데이터수집일자,최종마케팅점수,최종마케팅등급,고객만족도점수,고객만족도등급,시장잠재력점수,시장가능성등급,광고캠페인점수,광고캠페인등급,...,광고캠페인지속점수,광고캠페인주기점수,광고캠페인예산점수,작업구분코드,데이터생성일자,연계처리상태코드,연계처리일자,real 사업자등록번호,기업명,대표자명
0,1058705830,20211010,46.926011,E,10.000000,대체로 부정적,19.160000,E,17.766011,E,...,50.0,39.0,NaN,I,20211025,N,NaN,1058713591,로보빌더,박창배
1,1058705830,20211210,46.926011,E,10.000000,대체로 부정적,19.160000,E,17.766011,E,...,50.0,39.0,NaN,I,20211230,N,NaN,1058713591,로보빌더,박창배
2,1058705830,20220105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,I,20220130,N,NaN,1058713591,로보빌더,박창배
3,1058705830,20220208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,I,20220226,N,NaN,1058713591,로보빌더,박창배
4,1058705830,20220315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,I,20220331,N,NaN,1058713591,로보빌더,박창배
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,5158102547,20220902,NaN,NaN,13.746070,NaN,93.706070,NaN,NaN,NaN,...,NaN,NaN,NaN,I,20220902,N,NaN,5158118409,한샘정보통신,권영석외 1명
113,1058708972,20220901,NaN,NaN,13.746607,NaN,13.406607,NaN,NaN,NaN,...,NaN,NaN,NaN,I,20220901,N,NaN,1058741613,아이엔에이코리아,박수현외 1명
114,1058708972,20221001,NaN,NaN,13.746607,NaN,13.406607,NaN,NaN,NaN,...,NaN,NaN,NaN,I,20221001,N,NaN,1058741613,아이엔에이코리아,박수현외 1명
115,1138604679,20220901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,I,20220901,N,NaN,1138665128,블루넷테크놀러지,백홍배
116,3128600964,20220901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,I,20220901,N,NaN,3128644996,삼성통신,김대임

# 마케팅역량 , mapping + 재무제표정보

In [37]:
df_merge_2_2 = pd.merge(df_merge_2_1,df5,on='사업자등록번호') # 999 
df_merge_2_2

,사업자등록번호,데이터수집일자_x,최종마케팅점수,최종마케팅등급,고객만족도점수,고객만족도등급,시장잠재력점수,시장가능성등급,광고캠페인점수,광고캠페인등급,...,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,구성비율,증감율,작업구분코드_y,데이터생성일자_y,연계처리상태코드_y,연계처리일자_y
0,1058705830,20211010,46.926011,E,10.0,대체로 부정적,19.16,E,17.766011,E,...,201712.0,M11000,유동자산,305411.0,22.43,-81.58,I,20221104,NaN,NaN
1,1058705830,20211010,46.926011,E,10.0,대체로 부정적,19.16,E,17.766011,E,...,201712.0,M11100,당좌자산,271877.0,19.96,-48.90,I,20221104,NaN,NaN
2,1058705830,20211010,46.926011,E,10.0,대체로 부정적,19.16,E,17.766011,E,...,201712.0,M11500,재고자산,33534.0,2.46,-97.02,I,20221104,NaN,NaN
3,1058705830,20211010,46.926011,E,10.0,대체로 부정적,19.16,E,17.766011,E,...,201712.0,M12000,비유동자산,1056367.0,77.57,-36.34,I,20221104,NaN,NaN
4,1058705830,20211010,46.926011,E,10.0,대체로 부정적,19.16,E,17.766011,E,...,201712.0,M12100,투자자산,5888.0,0.43,399.83,I,20221104,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,3128600964,20220901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201712.0,M12100,투자자산,17449.0,4.59,9999.99,I,20221104,NaN,NaN
995,3128600964,20220901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201712.0,M12300,유형자산,16177.0,4.26,9999.99,I,20221104,NaN,NaN
996,3128600964,20220901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201712.0,M14900,자산총계,380052.0,100.00,9999.99,I,20221104,NaN,NaN
997,3128600964,20220901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201712.0,M15000,유동부채,146883.0,38.65,9999.99,I,20221104,NaN,NaN
998,3128600964,20220901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201712.0,M17000,자본금,150000.0,39.47,9999.99,I,20221104,NaN,NaN

### 마케팅역량 , mapping , 재무제표정보 + 신용등급정보

Empty DataFrame
Columns: [사업자등록번호, 데이터수집일자_x, 최종마케팅점수, 최종마케팅등급, 고객만족도점수, 고객만족도등급, 시장잠재력점수, 시장가능성등급, 광고캠페인점수, 광고캠페인등급, 시장제공물부정의견점수, 시장제공물부정의견등급, 시장제공물긍정의견점수, 시장제공물긍정의견등급, 시장성장성점수, 시장수익성점수, 시장점유율점수, 시장잠재력등급, 시장점유율등급, 광고캠페인효과점수, 광고캠페인효과등급, 광고캠페인과정점수, 광고캠페인과정등급, 광고캠페인지속점수, 광고캠페인주기점수, 광고캠페인예산점수, 작업구분코드_x, 데이터생성일자_x, 연계처리상태코드_x, 연계처리일자_x, real 사업자등록번호, 기업명_x, 대표자명, Unnamed: 0, 순번, 데이터수집일자_y, 조사년도, 재무보고서구분코드, 재무보고서명칭, 상세구분코드, 상세구분명칭, 재무제표기준년월, 재무제표계정과목코드, 재무제표계정과목명, 재무제표계정과목금액, 구성비율, 증감율, 작업구분코드_y, 데이터생성일자_y, 연계처리상태코드_y, 연계처리일자_y, 데이터수집일자, 기업코드, 기업명_y, 업종, 업종명, 기업규모, 기업규모명, CRI등급, CRI기준일, 결산일자, CRI등급설명, CRI등급명세, 작업구분코드, 데이터생성일자, 연계처리상태코드, 연계처리일자]
Index: []

[0 rows x 67 columns]

## 여기까지 제가 한거고 밑에는 누나꺼 파일 가지고 EDA 한겁니당   2022/11/27 17:19

df_merged = pd.read_csv('C:/Users/DMC CONET/Desktop/이리온정 프로젝트/Untitled Folder/데이터/data_merged.csv',encoding='cp949') 

df_merged.columns

In [159]:
df_merged1.shape

(20142, 59)

In [160]:
(df_merged1.isnull().sum() / 20142) * 100

Unnamed: 0      0.000000
사업자등록번호         0.000000
데이터수집일자         0.000000
대표자명           53.758316
전화번호           56.364810
팩스전화번호         66.870221
우편번호           62.704796
주소             54.215073
상세주소           62.054414
기업형태           53.758316
기업규모            0.000000
공기업구분          61.557939
산업분류코드         53.847681
산업분류코드설명       53.862576
기업코드           46.187072
업종             88.114388
업종명            58.077649
CRI등급          46.187072
CRI기준일         46.187072
결산일자           89.236421
CRI등급설명        46.187072
CRI등급명세        88.114388
조사년도           99.240393
재무보고서구분코드      99.240393
재무보고서명칭        99.240393
상세구분코드         99.776586
상세구분명칭         99.776586
재무제표기준년월       99.255287
재무제표계정과목코드     99.255287
재무제표계정과목명      99.255287
재무제표계정과목금액     99.791480
구성비율           99.831198
증감율            99.836163
최종평판점수        100.000000
최종평판등급        100.000000
일반평판점수        100.000000
일반평판등급        100.000000
미래평판점수        100.000000
미래평판등급        100.000000
사회적책임점수       100.000000
사회적책임등급       100.000000
대중평판점수        100.000000
대중평판등급        100.000000
고용평판점수        100.000000
고용평판등급        100.000000
신용평판점수        100.000000
신용평판등급        100.000000
기업프로파일점수      100.000000
기업프로파일등급      100.000000
사업계획점수        100.000000
사업계획등급        100.000000
경제적책임점수       100.000000
경제적책임등급       100.000000
법적책임점수        100.000000
법적책임등급        100.000000
윤리적책임점수       100.000000
윤리적책임등급       100.000000
자선적책임점수       100.000000
자선적책임등급       100.000000
dtype: float64

In [119]:
cond = (df_merged['기업규모'] == '중소기업')
# df_merged['기업규모'].unique

df_merged1 = df_merged.loc[cond]

df_merged2 = df_merged1.dropna(subset='CRI등급')

df_merged2['CRI등급'].isnull().sum()

0

In [125]:
df2_fix.columns
df2_fix.head()
df2_fix.value_counts()

real 사업자등록번호  사업자등록번호     기업명        대표자명
1010165297    1010109319  드림오피스      박영미     1
4168184276    4168101810  대한정보통신     강철호     1
4168177310    4168105466  호경         조용오     1
4168177469    4168101818  나래정보       문윤희     1
4168177737    4168103033  에스에이치정보통신  최종국     1
                                            ..
1388601929    1388607643  이투엠쓰리      김성태     1
1398115682    1398102235  백상건설       김중권     1
1398117055    1398102822  신원휄트       이용국     1
1398117486    1398100152  을지         박영희     1
8998800811    8998803795  에이아이스페라    강병탁     1
Length: 9881, dtype: int64

In [164]:
df_merged3 = pd.merge(df_merged2, df2_fix, how='outer', on='사업자등록번호' )


# df_merged1.pivot_table(index='업종명',values='CRI등급',aggfunc='count').sort_values(by='CRI등급',ascending = False)

In [127]:
df_merged['기업규모'].value_counts()

중소기업         20142
중견기업           707
대기업            311
기타(비영리법인)      257
중견기업(하)          5
대기업(금융)          3
Name: 기업규모, dtype: int64

In [129]:
df_merged.columns

Index(['Unnamed: 0', '사업자등록번호', '데이터수집일자', '대표자명', '전화번호', '팩스전화번호', '우편번호',
       '주소', '상세주소', '기업형태', '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명', '기업코드',
       '업종', '업종명', 'CRI등급', 'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '조사년도',
       '재무보고서구분코드', '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드',
       '재무제표계정과목명', '재무제표계정과목금액', '구성비율', '증감율', '최종평판점수', '최종평판등급', '일반평판점수',
       '일반평판등급', '미래평판점수', '미래평판등급', '사회적책임점수', '사회적책임등급', '대중평판점수', '대중평판등급',
       '고용평판점수', '고용평판등급', '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급',
       '사업계획점수', '사업계획등급', '경제적책임점수', '경제적책임등급', '법적책임점수', '법적책임등급', '윤리적책임점수',
       '윤리적책임등급', '자선적책임점수', '자선적책임등급'],
      dtype='object')

In [145]:
df_merged['사회적책임등급'].value_counts()

C    5231
D    4613
A    3823
B    1182
E     138
Name: 사회적책임등급, dtype: int64

In [146]:
df_merged['사회적책임점수'].value_counts()

8.00     426628
13.50      3646
11.10      3147
10.80      2465
10.50      2016
          ...
14.25         3
14.70         3
7.80          3
14.40         3
8.40          3
Name: 사회적책임점수, Length: 72, dtype: int64

In [156]:
cond = (df_merged['기업규모'] == '중소기업')
# df_merged['기업규모'].unique

df_merged1 = df_merged.loc[cond]

df_merged2 = df_merged1.dropna(subset='CRI등급')

df_merged2['CRI등급'].isnull().sum()

df_merged2['고용평판점수'].isnull().sum()


df_merged2.dropna(subset='고용평판점수')
# df_merged2.pivot_table(index='사업자등록번호',values=['사회적책임점수','사회적책임등급'],aggfunc='mean')

Empty DataFrame
Columns: [Unnamed: 0, 사업자등록번호, 데이터수집일자, 대표자명, 전화번호, 팩스전화번호, 우편번호, 주소, 상세주소, 기업형태, 기업규모, 공기업구분, 산업분류코드, 산업분류코드설명, 기업코드, 업종, 업종명, CRI등급, CRI기준일, 결산일자, CRI등급설명, CRI등급명세, 조사년도, 재무보고서구분코드, 재무보고서명칭, 상세구분코드, 상세구분명칭, 재무제표기준년월, 재무제표계정과목코드, 재무제표계정과목명, 재무제표계정과목금액, 구성비율, 증감율, 최종평판점수, 최종평판등급, 일반평판점수, 일반평판등급, 미래평판점수, 미래평판등급, 사회적책임점수, 사회적책임등급, 대중평판점수, 대중평판등급, 고용평판점수, 고용평판등급, 신용평판점수, 신용평판등급, 기업프로파일점수, 기업프로파일등급, 사업계획점수, 사업계획등급, 경제적책임점수, 경제적책임등급, 법적책임점수, 법적책임등급, 윤리적책임점수, 윤리적책임등급, 자선적책임점수, 자선적책임등급]
Index: []

[0 rows x 59 columns]

In [168]:
df_merged3['대표자명_x']

df_merged3 = df_merged3.drop('대표자명_x', axis = 1)

In [170]:
df_merged3.columns

Index(['Unnamed: 0', '사업자등록번호', '데이터수집일자', '전화번호', '팩스전화번호', '우편번호', '주소',
       '상세주소', '기업형태', '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명', '기업코드', '업종',
       '업종명', 'CRI등급', 'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '조사년도',
       '재무보고서구분코드', '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드',
       '재무제표계정과목명', '재무제표계정과목금액', '구성비율', '증감율', '최종평판점수', '최종평판등급', '일반평판점수',
       '일반평판등급', '미래평판점수', '미래평판등급', '사회적책임점수', '사회적책임등급', '대중평판점수', '대중평판등급',
       '고용평판점수', '고용평판등급', '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급',
       '사업계획점수', '사업계획등급', '경제적책임점수', '경제적책임등급', '법적책임점수', '법적책임등급', '윤리적책임점수',
       '윤리적책임등급', '자선적책임점수', '자선적책임등급', 'real 사업자등록번호', '기업명', '대표자명_y'],
      dtype='object')

In [172]:
df_merged3 = df_merged3.drop(['Unnamed: 0'], axis = 1)

In [177]:
df_merged3.columns = ['사업자등록번호', '데이터수집일자', '전화번호', '팩스전화번호', '우편번호', '주소', '상세주소', '기업형태',
       '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명', '기업코드', '업종', '업종명', 'CRI등급',
       'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '조사년도', '재무보고서구분코드', '재무보고서명칭',
       '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드', '재무제표계정과목명', '재무제표계정과목금액',
       '구성비율', '증감율', '최종평판점수', '최종평판등급', '일반평판점수', '일반평판등급', '미래평판점수',
       '미래평판등급', '사회적책임점수', '사회적책임등급', '대중평판점수', '대중평판등급', '고용평판점수', '고용평판등급',
       '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급', '사업계획점수', '사업계획등급',
       '경제적책임점수', '경제적책임등급', '법적책임점수', '법적책임등급', '윤리적책임점수', '윤리적책임등급',
       '자선적책임점수', '자선적책임등급', 'real 사업자등록번호', '기업명']

In [178]:
df_merged3.columns

Index(['사업자등록번호', '데이터수집일자', '전화번호', '팩스전화번호', '우편번호', '주소', '상세주소', '기업형태',
       '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명', '기업코드', '업종', '업종명', 'CRI등급',
       'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '조사년도', '재무보고서구분코드', '재무보고서명칭',
       '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드', '재무제표계정과목명', '재무제표계정과목금액',
       '구성비율', '증감율', '최종평판점수', '최종평판등급', '일반평판점수', '일반평판등급', '미래평판점수',
       '미래평판등급', '사회적책임점수', '사회적책임등급', '대중평판점수', '대중평판등급', '고용평판점수', '고용평판등급',
       '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급', '사업계획점수', '사업계획등급',
       '경제적책임점수', '경제적책임등급', '법적책임점수', '법적책임등급', '윤리적책임점수', '윤리적책임등급',
       '자선적책임점수', '자선적책임등급', 'real 사업자등록번호', '기업명'],
      dtype='object')

In [180]:
df_merged3['CRI등급'].value_counts()

B2    2171
B3    1750
B1    1573
C2    1374
A3    1204
C3    1069
C1    1034
A2     458
A1     111
NG      48
D       47
Name: CRI등급, dtype: int64

In [184]:
cond1 = df_merged3['CRI등급'].isnull()
df_merged3.loc[~cond1]['CRI등급'].value_counts()

B2    2171
B3    1750
B1    1573
C2    1374
A3    1204
C3    1069
C1    1034
A2     458
A1     111
NG      48
D       47
Name: CRI등급, dtype: int64

In [185]:
df_merged3.columns

Index(['사업자등록번호', '데이터수집일자', '전화번호', '팩스전화번호', '우편번호', '주소', '상세주소', '기업형태',
       '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명', '기업코드', '업종', '업종명', 'CRI등급',
       'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '조사년도', '재무보고서구분코드', '재무보고서명칭',
       '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드', '재무제표계정과목명', '재무제표계정과목금액',
       '구성비율', '증감율', '최종평판점수', '최종평판등급', '일반평판점수', '일반평판등급', '미래평판점수',
       '미래평판등급', '사회적책임점수', '사회적책임등급', '대중평판점수', '대중평판등급', '고용평판점수', '고용평판등급',
       '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급', '사업계획점수', '사업계획등급',
       '경제적책임점수', '경제적책임등급', '법적책임점수', '법적책임등급', '윤리적책임점수', '윤리적책임등급',
       '자선적책임점수', '자선적책임등급', 'real 사업자등록번호', '기업명'],
      dtype='object')

In [186]:
df_merged3['기업규모'].value_counts()

중소기업    10839
Name: 기업규모, dtype: int64

In [187]:
df_merged3['산업분류코드'].value_counts(0)

71310.0    2
58220.0    1
29199.0    1
73203.0    1
75992.0    1
58222.0    1
63120.0    1
62021.0    1
46800.0    1
70113.0    1
Name: 산업분류코드, dtype: int64