## 1. 마케팅정보 데이터 로드

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
pd.options.display.max_rows = 500
pd.options.display.max_columns = 500

path = 'E:/DBI2022/use/use_data/encoded/selected/'

In [65]:
df_m = pd.read_csv(path + "마케팅역량정보.csv", encoding = 'cp949')
df_m = pd.DataFrame(df_com)
df_m.info()

C:\Users\Conet\AppData\Local\Temp\ipykernel_16420\1851415039.py:1: DtypeWarning: Columns (3,5,7,9,11,13,17,18,20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_m = pd.read_csv(path + "마케팅역량정보.csv", encoding = 'cp949')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9755 entries, 0 to 9754
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9755 non-null   int64
 1   사업자등록번호     9755 non-null   int64
 2   데이터수집일자     9755 non-null   int64
 3   기업명         9755 non-null   object
 4   대표자명        9755 non-null   object
 5   전화번호        9240 non-null   object
 6   팩스전화번호      7014 non-null   object
 7   우편번호        7894 non-null   float64
 8   주소          9657 non-null   object
 9   상세주소        8028 non-null   object
 10  기업형태        9755 non-null   object
 11  기업규모        9755 non-null   object
 12  공기업구분       8134 non-null   object
 13  산업분류코드      9736 non-null   float64
 14  산업분류코드설명    9733 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 1.1+ MB

## 2. CRI등급 데이터 로드

In [7]:
df_credit = pd.read_csv(path + "신용등급정보.csv", encoding = 'cp949')
df_credit = pd.DataFrame(df_credit)
df_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21549 entries, 0 to 21548
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   사업자등록번호   21549 non-null  int64
 1   데이터수집일자   11549 non-null  float64
 2   기업코드      11549 non-null  float64
 3   기업명       11549 non-null  object
 4   업종        2612 non-null   object
 5   업종명       8935 non-null   object
 6   기업규모      2612 non-null   float64
 7   기업규모명     11545 non-null  object
 8   CRI등급     11549 non-null  object
 9   CRI기준일    11549 non-null  float64
 10  결산일자      2378 non-null   float64
 11  CRI등급설명   11549 non-null  object
 12  CRI등급명세   2612 non-null   object
 13  작업구분코드    21549 non-null  object
 14  데이터생성일자   21549 non-null  int64
 15  연계처리상태코드  0 non-null      float64
 16  연계처리일자    0 non-null      float64
dtypes: float64(7), int64(2), object(8)
memory usage: 2.8+ MB

In [8]:
df_credit['기업규모'].value_counts()

2.0    2362
4.0     121
3.0      77
1.0      50
5.0       1
6.0       1
Name: 기업규모, dtype: int64

In [9]:
df_credit.shape

(21549, 17)

In [10]:
df_credit = df_credit.drop('기업규모', axis = 1)
df_credit

,사업자등록번호,데이터수집일자,기업코드,기업명,업종,업종명,기업규모명,CRI등급,CRI기준일,결산일자,CRI등급설명,CRI등급명세,작업구분코드,데이터생성일자,연계처리상태코드,연계처리일자
0,1010100001,20220519.0,2898316.0,드****,M,NaN,중소기업,B1,20220515.0,20191231.0,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",양호,I,20221104,NaN,NaN
1,1010100001,20220519.0,2898316.0,드****,M,NaN,중소기업,B1,20220515.0,20191231.0,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",양호,I,20221104,NaN,NaN
2,1010100001,20220107.0,2898316.0,드****,M,NaN,중소기업,B2,20211231.0,20191231.0,"비교적 무난한 수준의 단기거래 신용능력을 보유하지만, 장래의 거래안정성에 다소 부정...",양호,I,20221104,NaN,NaN
3,1010100001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN
4,1010200002,20220519.0,2059915.0,씨****,M,NaN,중소기업,B3,20220515.0,20201231.0,"단기간의 신용능력은 인정되지만, 향후 환경변화에 따른 지급확실성 저하 가능성이 상존...",양호,I,20221104,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21544,8998709998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN
21545,8998709999,20221022.0,8472516.0,링****,NaN,정보통신업,중소기업,C2,20220719.0,NaN,"채무불이행 발생 가능성을 내포하고 있으며, 상위등급에 비해 거래안정성이 매우 낮은 ...",NaN,I,20221104,NaN,NaN
21546,8998709999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN
21547,8998810000,20221022.0,8384103.0,에****,NaN,정보통신업,중견기업,A3,20220719.0,NaN,"우위의 단기거래 신용능력이 인정되어, 채무불이행으로 인한 위험 가능성이 비교적 낮은...",NaN,I,20221104,NaN,NaN
21548,8998810000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221104,NaN,NaN

In [11]:
df_credit.columns = ['사업자등록번호', '데이터수집일자', '기업코드', '기업명', '업종', '업종명', '기업규모', 'CRI등급', 'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '작업구분코드', '데이터생성일자', '연계처리상태코드', '연계처리일자']
df_credit.columns

Index(['사업자등록번호', '데이터수집일자', '기업코드', '기업명', '업종', '업종명', '기업규모', 'CRI등급',
       'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '작업구분코드', '데이터생성일자', '연계처리상태코드',
       '연계처리일자'],
      dtype='object')

In [12]:
df_credit['작업구분코드'].value_counts()

I    21549
Name: 작업구분코드, dtype: int64

In [13]:
df_credit['데이터생성일자'].value_counts()

20221104    21549
Name: 데이터생성일자, dtype: int64

In [14]:
df_credit['연계처리상태코드'].value_counts()

Series([], Name: 연계처리상태코드, dtype: int64)

In [15]:
df_credit['연계처리일자'].value_counts()

Series([], Name: 연계처리일자, dtype: int64)

In [16]:
df_credit = df_credit.drop('작업구분코드', axis = 1)
df_credit

,사업자등록번호,데이터수집일자,기업코드,기업명,업종,업종명,기업규모,CRI등급,CRI기준일,결산일자,CRI등급설명,CRI등급명세,데이터생성일자,연계처리상태코드,연계처리일자
0,1010100001,20220519.0,2898316.0,드****,M,NaN,중소기업,B1,20220515.0,20191231.0,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",양호,20221104,NaN,NaN
1,1010100001,20220519.0,2898316.0,드****,M,NaN,중소기업,B1,20220515.0,20191231.0,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",양호,20221104,NaN,NaN
2,1010100001,20220107.0,2898316.0,드****,M,NaN,중소기업,B2,20211231.0,20191231.0,"비교적 무난한 수준의 단기거래 신용능력을 보유하지만, 장래의 거래안정성에 다소 부정...",양호,20221104,NaN,NaN
3,1010100001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221104,NaN,NaN
4,1010200002,20220519.0,2059915.0,씨****,M,NaN,중소기업,B3,20220515.0,20201231.0,"단기간의 신용능력은 인정되지만, 향후 환경변화에 따른 지급확실성 저하 가능성이 상존...",양호,20221104,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21544,8998709998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221104,NaN,NaN
21545,8998709999,20221022.0,8472516.0,링****,NaN,정보통신업,중소기업,C2,20220719.0,NaN,"채무불이행 발생 가능성을 내포하고 있으며, 상위등급에 비해 거래안정성이 매우 낮은 ...",NaN,20221104,NaN,NaN
21546,8998709999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221104,NaN,NaN
21547,8998810000,20221022.0,8384103.0,에****,NaN,정보통신업,중견기업,A3,20220719.0,NaN,"우위의 단기거래 신용능력이 인정되어, 채무불이행으로 인한 위험 가능성이 비교적 낮은...",NaN,20221104,NaN,NaN
21548,8998810000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221104,NaN,NaN

In [17]:
df_credit = df_credit.drop(['데이터생성일자', '연계처리상태코드', '연계처리일자'], axis = 1)
df_credit

,사업자등록번호,데이터수집일자,기업코드,기업명,업종,업종명,기업규모,CRI등급,CRI기준일,결산일자,CRI등급설명,CRI등급명세
0,1010100001,20220519.0,2898316.0,드****,M,NaN,중소기업,B1,20220515.0,20191231.0,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",양호
1,1010100001,20220519.0,2898316.0,드****,M,NaN,중소기업,B1,20220515.0,20191231.0,"적정 수준의 단기거래 신용능력을 보유하지만, 급격한 환경변화에 따라 거래안정성에 다...",양호
2,1010100001,20220107.0,2898316.0,드****,M,NaN,중소기업,B2,20211231.0,20191231.0,"비교적 무난한 수준의 단기거래 신용능력을 보유하지만, 장래의 거래안정성에 다소 부정...",양호
3,1010100001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1010200002,20220519.0,2059915.0,씨****,M,NaN,중소기업,B3,20220515.0,20201231.0,"단기간의 신용능력은 인정되지만, 향후 환경변화에 따른 지급확실성 저하 가능성이 상존...",양호
...,...,...,...,...,...,...,...,...,...,...,...,...
21544,8998709998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21545,8998709999,20221022.0,8472516.0,링****,NaN,정보통신업,중소기업,C2,20220719.0,NaN,"채무불이행 발생 가능성을 내포하고 있으며, 상위등급에 비해 거래안정성이 매우 낮은 ...",NaN
21546,8998709999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21547,8998810000,20221022.0,8384103.0,에****,NaN,정보통신업,중견기업,A3,20220719.0,NaN,"우위의 단기거래 신용능력이 인정되어, 채무불이행으로 인한 위험 가능성이 비교적 낮은...",NaN
21548,8998810000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df_m.columns

Index(['Unnamed: 0', '사업자등록번호', '데이터수집일자', '기업명', '대표자명', '전화번호', '팩스전화번호',
       '우편번호', '주소', '상세주소', '기업형태', '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명'],
      dtype='object')

In [68]:
df_credit.columns

Index(['사업자등록번호', '데이터수집일자', '기업코드', '기업명', '업종', '업종명', '기업규모', 'CRI등급',
       'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세'],
      dtype='object')

In [72]:
df_m['기업명'].value_counts()

(주)***            486
(주)**             239
(주)대***            69
(주)아***            66
(주)아이***           50
                 ...
(주)명성씨***           1
(주)한인정***           1
(재)케이티그룹희망나***      1
태영건업***             1
지스마트***             1
Name: 기업명, Length: 6619, dtype: int64

In [73]:
df_credit['기업명'].value_counts()

에****     506
아****     420
대****     407
한****     296
이****     277
         ...
처****       1
앰****       1
터****       1
셈****       1
컨*****      1
Name: 기업명, Length: 708, dtype: int64

In [74]:
df_m = df_m.drop('기업명', axis = 1)
df_m

,Unnamed: 0,사업자등록번호,데이터수집일자,대표자명,전화번호,팩스전화번호,우편번호,주소,상세주소,기업형태,기업규모,공기업구분,산업분류코드,산업분류코드설명
0,0,1068101837,20211228,박**,02-6226-9900,02-6226-9920,4799.0,서울 성동구 광나루로8길 31,406호~408호 (성수동2가),일반,중소기업,일반기업,42322.0,내부 통신배선 공사업
1,1,2148601823,20211228,송**,02-2113-9400,02-2113-9494,8501.0,서울특별시 금천구 가산디지털2로 184,"1308호 (가산동,벽산디지털밸리2차)",외감,중소기업,일반기업,46522.0,통신·방송장비 및 부품 도매업
2,2,8308707172,20211228,이**,032-719-4881,032-719-4946,21558.0,인천 남동구 인주대로 585,"8층 801호 (구월동,한국씨티은행)",일반,중소기업,일반기업,58222.0,응용 소프트웨어 개발 및 공급업
3,3,1208104404,20211228,강**,02 22050305,02 22050505,4557.0,서울특별시 중구 퇴계로 213,"5층 (충무로4가,일흥빌딩)",거래소상장,중견기업,일반기업,46799.0,그 외 기타 상품 전문 도매업
4,4,8580704454,20211228,신**,NaN,NaN,44217.0,울산 북구 약수9길,"20, 610호 (중산동,이화제일아파트)",일반,중소기업,일반기업,42491.0,"미장, 타일 및 방수 공사업"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9750,9750,6878608402,20221022,정**,02-6402-5700,NaN,NaN,서울특별시 서초구 강남대로53길 8 7층 알엠6 (서초동),NaN,일반,중소기업,NaN,58221.0,시스템 소프트웨어 개발 및 공급업
9751,9751,1058606724,20221022,박수현외***,02-516-6114,NaN,NaN,"서울 마포구 동교로41길 18 2층 (연남동,늘채움빌딩)",NaN,일반,중소기업,NaN,75992.0,"전시, 컨벤션 및 행사 대행업"
9752,9752,8478809348,20221022,노**,02-3453-7397,NaN,NaN,서울특별시 종로구 효자로13길 46 1층 (효자동),NaN,일반,중소기업,NaN,90199.0,그 외 기타 창작 및 예술 관련 서비스업
9753,9753,1268101376,20221022,안성혁외***,070-4896-5001,NaN,NaN,"서울특별시 강남구 도산대로 207 5층 (신사동,성도빌딩)",NaN,외감,중소기업,NaN,46800.0,상품 종합 도매업
9754,9754,8098103938,20221022,박정일외***,031-8019-8816,NaN,NaN,"경기도 수원시 권선구 산업로 198 616호 617호 (고색동,수원델타원)",NaN,일반,중소기업,NaN,26410.0,유선 통신장비 제조업

In [75]:
df_m = df_m.drop('Unnamed: 0', axis = 1)
df_m

,사업자등록번호,데이터수집일자,대표자명,전화번호,팩스전화번호,우편번호,주소,상세주소,기업형태,기업규모,공기업구분,산업분류코드,산업분류코드설명
0,1068101837,20211228,박**,02-6226-9900,02-6226-9920,4799.0,서울 성동구 광나루로8길 31,406호~408호 (성수동2가),일반,중소기업,일반기업,42322.0,내부 통신배선 공사업
1,2148601823,20211228,송**,02-2113-9400,02-2113-9494,8501.0,서울특별시 금천구 가산디지털2로 184,"1308호 (가산동,벽산디지털밸리2차)",외감,중소기업,일반기업,46522.0,통신·방송장비 및 부품 도매업
2,8308707172,20211228,이**,032-719-4881,032-719-4946,21558.0,인천 남동구 인주대로 585,"8층 801호 (구월동,한국씨티은행)",일반,중소기업,일반기업,58222.0,응용 소프트웨어 개발 및 공급업
3,1208104404,20211228,강**,02 22050305,02 22050505,4557.0,서울특별시 중구 퇴계로 213,"5층 (충무로4가,일흥빌딩)",거래소상장,중견기업,일반기업,46799.0,그 외 기타 상품 전문 도매업
4,8580704454,20211228,신**,NaN,NaN,44217.0,울산 북구 약수9길,"20, 610호 (중산동,이화제일아파트)",일반,중소기업,일반기업,42491.0,"미장, 타일 및 방수 공사업"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9750,6878608402,20221022,정**,02-6402-5700,NaN,NaN,서울특별시 서초구 강남대로53길 8 7층 알엠6 (서초동),NaN,일반,중소기업,NaN,58221.0,시스템 소프트웨어 개발 및 공급업
9751,1058606724,20221022,박수현외***,02-516-6114,NaN,NaN,"서울 마포구 동교로41길 18 2층 (연남동,늘채움빌딩)",NaN,일반,중소기업,NaN,75992.0,"전시, 컨벤션 및 행사 대행업"
9752,8478809348,20221022,노**,02-3453-7397,NaN,NaN,서울특별시 종로구 효자로13길 46 1층 (효자동),NaN,일반,중소기업,NaN,90199.0,그 외 기타 창작 및 예술 관련 서비스업
9753,1268101376,20221022,안성혁외***,070-4896-5001,NaN,NaN,"서울특별시 강남구 도산대로 207 5층 (신사동,성도빌딩)",NaN,외감,중소기업,NaN,46800.0,상품 종합 도매업
9754,8098103938,20221022,박정일외***,031-8019-8816,NaN,NaN,"경기도 수원시 권선구 산업로 198 616호 617호 (고색동,수원델타원)",NaN,일반,중소기업,NaN,26410.0,유선 통신장비 제조업

In [76]:
df_m['기업규모'].value_counts()

중소기업         9234
중견기업          298
대기업           127
기타(비영리법인)      90
중견기업(하)         4
대기업(금융)         2
Name: 기업규모, dtype: int64

In [77]:
df_credit['기업규모'].value_counts()

중소기업         10783
중견기업           409
대기업            184
기타(비영리법인)      167
대기업(금융)          1
중견기업(하)          1
Name: 기업규모, dtype: int64

## 1. 마케팅정보+ 2. CRI등급

In [78]:
df_m_credit = pd.merge(df_m, df_credit, how = 'outer', on = ['사업자등록번호', '데이터수집일자', '기업규모'])
print(df_m_credit.info())
df_m_credit = df_m_credit.drop('기업명', axis = 1)
print(df_m_credit.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31293 entries, 0 to 31292
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   사업자등록번호   31293 non-null  int64
 1   데이터수집일자   21293 non-null  float64
 2   대표자명      9755 non-null   object
 3   전화번호      9240 non-null   object
 4   팩스전화번호    7014 non-null   object
 5   우편번호      7894 non-null   float64
 6   주소        9657 non-null   object
 7   상세주소      8028 non-null   object
 8   기업형태      9755 non-null   object
 9   기업규모      21289 non-null  object
 10  공기업구분     8134 non-null   object
 11  산업분류코드    9736 non-null   float64
 12  산업분류코드설명  9733 non-null   object
 13  기업코드      11549 non-null  float64
 14  기업명       11549 non-null  object
 15  업종        2612 non-null   object
 16  업종명       8935 non-null   object
 17  CRI등급     11549 non-null  object
 18  CRI기준일    11549 non-null  float64
 19  결산일자      2378 non-null   float64
 20  CRI등급설명   11549 non-null  object
 21  CRI등급명세   2612 non-null   object
dtypes: float64(6), int64(1), object(15)
memory usage: 5.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 31293 entries, 0 to 31292
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   사업자등록번호   31293 non-null  int64
 1   데이터수집일자   21293 non-null  float64
 2   대표자명      9755 non-null   object
 3   전화번호      9240 non-null   object
 4   팩스전화번호    7014 non-null   object
 5   우편번호      7894 non-null   float64
 6   주소        9657 non-null   object
 7   상세주소      8028 non-null   object
 8   기업형태      9755 non-null   object
 9   기업규모      21289 non-null  object
 10  공기업구분     8134 non-null   object
 11  산업분류코드    9736 non-null   float64
 12  산업분류코드설명  9733 non-null   object
 13  기업코드      11549 non-null  float64
 14  업종        2612 non-null   object
 15  업종명       8935 non-null   object
 16  CRI등급     11549 non-null  object
 17  CRI기준일    11549 non-null  float64
 18  결산일자      2378 non-null   float64
 19  CRI등급설명   11549 non-null  object
 20  CRI등급명세   2612 non-null   object
dtypes: float64(6), int64(1), object(14)
memory usage: 5.3+ MB
None

## 3. 재무제표정보 데이터 로드

In [19]:
df_finances = pd.read_csv(path + "재무제표정보.csv", encoding = 'cp949')
df_finances.info()
# df_finances.to_json('재무제표정보.json')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86352 entries, 0 to 86351
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  86352 non-null  int64
 1   사업자등록번호     86352 non-null  int64
 2   순번          86352 non-null  int64
 3   데이터수집일자     86352 non-null  int64
 4   조사년도        86352 non-null  int64
 5   재무보고서구분코드   86352 non-null  object
 6   재무보고서명칭     86352 non-null  object
 7   상세구분코드      70529 non-null  object
 8   상세구분명칭      70529 non-null  object
 9   재무제표기준년월    74616 non-null  float64
 10  재무제표계정과목코드  74616 non-null  object
 11  재무제표계정과목명   74616 non-null  object
 12  재무제표계정과목금액  58793 non-null  float64
 13  구성비율        55045 non-null  float64
 14  증감율         55105 non-null  float64
 15  작업구분코드      86352 non-null  object
 16  데이터생성일자     86352 non-null  int64
 17  연계처리상태코드    0 non-null      float64
 18  연계처리일자      0 non-null      float64
dtypes: float64(6), int64(6), object(7)
memory usage: 12.5+ MB

C:\Users\Conet\AppData\Local\Temp\ipykernel_16420\3066158774.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_finances = pd.read_csv(path + "재무제표정보.csv", encoding = 'cp949')

In [20]:
df_finances = df_finances.drop(['Unnamed: 0', '순번'], axis = 1)
df_finances

,사업자등록번호,데이터수집일자,조사년도,재무보고서구분코드,재무보고서명칭,상세구분코드,상세구분명칭,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,구성비율,증감율,작업구분코드,데이터생성일자,연계처리상태코드,연계처리일자
0,3148104968,20211019,2016,1,재무상태표,anly,분석형,201612.0,M11000,유동자산,2110794.0,63.12,-15.86,I,20221104,NaN,NaN
1,3148104968,20211019,2016,1,재무상태표,anly,분석형,201612.0,M11100,당좌자산,1967978.0,58.85,-20.91,I,20221104,NaN,NaN
2,3148104968,20211019,2016,1,재무상태표,anly,분석형,201612.0,M11500,재고자산,142816.0,4.27,592.84,I,20221104,NaN,NaN
3,3148104968,20211019,2016,1,재무상태표,anly,분석형,201612.0,M12000,비유동자산,1233239.0,36.88,-0.49,I,20221104,NaN,NaN
4,3148104968,20211019,2016,1,재무상태표,anly,분석형,201612.0,M12100,투자자산,560563.0,16.76,0.00,I,20221104,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86347,2158109953,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M12100,투자자산,NaN,NaN,NaN,I,20221104,NaN,NaN
86348,2158109953,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M14900,자산총계,NaN,NaN,NaN,I,20221104,NaN,NaN
86349,2158109953,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M15000,유동부채,NaN,NaN,NaN,I,20221104,NaN,NaN
86350,2158109953,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M16000,비유동부채,NaN,NaN,NaN,I,20221104,NaN,NaN
86351,2158109953,20221022,2017,1,재무상태표,NaN,NaN,201709.0,M16900,부채총계,NaN,NaN,NaN,I,20221104,NaN,NaN

In [21]:
df_finances['재무보고서구분코드'].value_counts()

1    51215
1    19255
2     9359
4     2820
8     2142
2     1051
A      249
4       94
8       81
5       58
C       28
Name: 재무보고서구분코드, dtype: int64

In [22]:
df_finances['재무보고서명칭'].value_counts()

재무상태표       70470
손익계산서       10410
현금흐름표        2914
자본변동표        2223
성장성지표         249
원가/경비명세서       58
안정성지표          28
Name: 재무보고서명칭, dtype: int64

## 1. 마케팅정보 + 2. CRI등급 + 3. 재무제표정보

In [79]:
df_m_credit_finances = pd.merge(df_m_credit, df_finances, how = 'outer', on = ['사업자등록번호', '데이터수집일자'])
df_m_credit_finances.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117628 entries, 0 to 117627
Data columns (total 36 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   사업자등록번호     117628 non-null  int64
 1   데이터수집일자     107628 non-null  float64
 2   대표자명        9835 non-null    object
 3   전화번호        9296 non-null    object
 4   팩스전화번호      7022 non-null    object
 5   우편번호        7902 non-null    float64
 6   주소          9737 non-null    object
 7   상세주소        8036 non-null    object
 8   기업형태        9835 non-null    object
 9   기업규모        21425 non-null   object
 10  공기업구분       8142 non-null    object
 11  산업분류코드      9816 non-null    float64
 12  산업분류코드설명    9813 non-null    object
 13  기업코드        11605 non-null   float64
 14  업종          2644 non-null    object
 15  업종명         8959 non-null    object
 16  CRI등급       11605 non-null   object
 17  CRI기준일      11605 non-null   float64
 18  결산일자        2410 non-null    float64
 19  CRI등급설명     11605 non-null   object
 20  CRI등급명세     2644 non-null    object
 21  조사년도        86352 non-null   float64
 22  재무보고서구분코드   86352 non-null   object
 23  재무보고서명칭     86352 non-null   object
 24  상세구분코드      70529 non-null   object
 25  상세구분명칭      70529 non-null   object
 26  재무제표기준년월    74616 non-null   float64
 27  재무제표계정과목코드  74616 non-null   object
 28  재무제표계정과목명   74616 non-null   object
 29  재무제표계정과목금액  58793 non-null   float64
 30  구성비율        55045 non-null   float64
 31  증감율         55105 non-null   float64
 32  작업구분코드      86352 non-null   object
 33  데이터생성일자     86352 non-null   float64
 34  연계처리상태코드    0 non-null       float64
 35  연계처리일자      0 non-null       float64
dtypes: float64(14), int64(1), object(21)
memory usage: 33.2+ MB

## 4. 평판정보 데이터 로드

In [37]:
path_txt = r'E:/DBI2022/use/use_data/encoded/selected/평판정보.txt'
df_comp_repu = pd.read_csv(path_txt, sep='')
df_comp_repu

C:\Users\Conet\AppData\Local\Temp\ipykernel_16420\2339420480.py:2: DtypeWarning: Columns (3,5,7,9,11,13,15,17,19,21,23,25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_comp_repu = pd.read_csv(path_txt, sep='')

,2208668613,20211010,65.75,D,36.0,C,16.25,D.1,13.5,A,50,D.2,80.0,B,50.1,D.3,80.0.1,B.1,50.2,D.4,100,A.1,100.1,A.2,100.2,A.3,50.3,D.5,I,20211030,N,Unnamed: 31
0,5088114481,20211010,51.4875,D,26.000000,D,14.687500,D,10.8,D,50.000000,D,50.0,D,30.0,E,57.500,D,60.0,D,55.0,D,100.0,A,100.0,A,50.0,D,I,20211030,N,NaN
1,2148101121,20211010,58.7500,D,32.000000,D,16.250000,D,10.5,D,50.000000,D,40.0,E,70.0,C,70.000,C,60.0,D,80.0,B,40.0,E,100.0,A,50.0,D,I,20211030,N,NaN
2,2148730201,20211010,52.5750,D,24.000000,E,16.875000,D,11.7,C,50.000000,D,40.0,E,30.0,E,65.000,D,70.0,C,70.0,C,100.0,A,100.0,A,50.0,D,I,20211030,N,NaN
3,1048170092,20211010,50.0750,D,24.000000,E,14.375000,D,11.7,C,50.000000,D,50.0,D,20.0,E,65.000,D,50.0,D,70.0,C,100.0,A,100.0,A,50.0,D,I,20211030,N,NaN
4,1208612196,20211010,58.8500,D,34.000000,D,13.750000,D,11.1,C,50.000000,D,50.0,D,70.0,C,60.000,D,50.0,D,60.0,D,100.0,A,100.0,A,50.0,D,I,20211030,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522897,3263600084,20221001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
522898,3264400226,20221001,NaN,NaN,24.379887,NaN,79.036443,NaN,8.0,NaN,11.426037,NaN,NaN,NaN,NaN,NaN,43.757,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
522899,3265300252,20221001,NaN,NaN,21.606711,NaN,79.036443,NaN,8.0,NaN,6.439867,NaN,NaN,NaN,NaN,NaN,43.757,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
522900,3265900031,20221001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
522901,3268100406,20221001,NaN,NaN,21.564736,NaN,79.036443,NaN,8.0,NaN,6.364395,NaN,NaN,NaN,NaN,NaN,43.757,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN

In [38]:
df_comp_repu_col = ['사업자등록번호', '데이터수집일자', '최종평판점수', '최종평판등급', '일반평판점수', '일반평판등급', '미래평판점수', '미래평판등급', '사회적책임점수', '사회적책임등급',
                    '대중평판점수', '대중평판등급', '고용평판점수', '고용평판등급',
                    '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급',
                    '사업계획점수', '사업계획등급', '경제적책임점수', '경제적책임등급',
                    '법적책임점수', '법적책임등급', '윤리적책임점수', '윤리적책임등급',
                    '자선적책임점수', '자선적책임등급', '작업구분코드', '데이터생성일자',
                    '연계처리상태코드', '연계처리일자']

df_comp_repu.columns = df_comp_repu_col
df_comp_repu

,사업자등록번호,데이터수집일자,최종평판점수,최종평판등급,일반평판점수,일반평판등급,미래평판점수,미래평판등급,사회적책임점수,사회적책임등급,대중평판점수,대중평판등급,고용평판점수,고용평판등급,신용평판점수,신용평판등급,기업프로파일점수,기업프로파일등급,사업계획점수,사업계획등급,경제적책임점수,경제적책임등급,법적책임점수,법적책임등급,윤리적책임점수,윤리적책임등급,자선적책임점수,자선적책임등급,작업구분코드,데이터생성일자,연계처리상태코드,연계처리일자
0,5088114481,20211010,51.4875,D,26.000000,D,14.687500,D,10.8,D,50.000000,D,50.0,D,30.0,E,57.500,D,60.0,D,55.0,D,100.0,A,100.0,A,50.0,D,I,20211030,N,NaN
1,2148101121,20211010,58.7500,D,32.000000,D,16.250000,D,10.5,D,50.000000,D,40.0,E,70.0,C,70.000,C,60.0,D,80.0,B,40.0,E,100.0,A,50.0,D,I,20211030,N,NaN
2,2148730201,20211010,52.5750,D,24.000000,E,16.875000,D,11.7,C,50.000000,D,40.0,E,30.0,E,65.000,D,70.0,C,70.0,C,100.0,A,100.0,A,50.0,D,I,20211030,N,NaN
3,1048170092,20211010,50.0750,D,24.000000,E,14.375000,D,11.7,C,50.000000,D,50.0,D,20.0,E,65.000,D,50.0,D,70.0,C,100.0,A,100.0,A,50.0,D,I,20211030,N,NaN
4,1208612196,20211010,58.8500,D,34.000000,D,13.750000,D,11.1,C,50.000000,D,50.0,D,70.0,C,60.000,D,50.0,D,60.0,D,100.0,A,100.0,A,50.0,D,I,20211030,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522897,3263600084,20221001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
522898,3264400226,20221001,NaN,NaN,24.379887,NaN,79.036443,NaN,8.0,NaN,11.426037,NaN,NaN,NaN,NaN,NaN,43.757,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
522899,3265300252,20221001,NaN,NaN,21.606711,NaN,79.036443,NaN,8.0,NaN,6.439867,NaN,NaN,NaN,NaN,NaN,43.757,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
522900,3265900031,20221001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN
522901,3268100406,20221001,NaN,NaN,21.564736,NaN,79.036443,NaN,8.0,NaN,6.364395,NaN,NaN,NaN,NaN,NaN,43.757,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,20221001,N,NaN

## 1. 마케팅정보 + 2. CRI등급 + 3. 재무제표정보 + 4. 평판정보

In [81]:
df_m_credit_finances = df_m_credit_finances.drop(['작업구분코드', '데이터생성일자', '연계처리상태코드', '연계처리일자'], axis = 1)

In [82]:
df_m_credit_finances_repu = pd.merge(df_m_credit_finances, df_comp_repu, how = 'outer', on = ['사업자등록번호', '데이터수집일자'])
df_m_credit_finances_repu.info()

df_m_credit_finances_repu = df_m_credit_finances_repu.drop(['작업구분코드', '데이터생성일자', '연계처리상태코드', '연계처리일자'], axis = 1).copy()
print(df_m_credit_finances_repu.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 640530 entries, 0 to 640529
Data columns (total 62 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   사업자등록번호     640530 non-null  int64
 1   데이터수집일자     630530 non-null  float64
 2   대표자명        9835 non-null    object
 3   전화번호        9296 non-null    object
 4   팩스전화번호      7022 non-null    object
 5   우편번호        7902 non-null    float64
 6   주소          9737 non-null    object
 7   상세주소        8036 non-null    object
 8   기업형태        9835 non-null    object
 9   기업규모        21425 non-null   object
 10  공기업구분       8142 non-null    object
 11  산업분류코드      9816 non-null    float64
 12  산업분류코드설명    9813 non-null    object
 13  기업코드        11605 non-null   float64
 14  업종          2644 non-null    object
 15  업종명         8959 non-null    object
 16  CRI등급       11605 non-null   object
 17  CRI기준일      11605 non-null   float64
 18  결산일자        2410 non-null    float64
 19  CRI등급설명     11605 non-null   object
 20  CRI등급명세     2644 non-null    object
 21  조사년도        86352 non-null   float64
 22  재무보고서구분코드   86352 non-null   object
 23  재무보고서명칭     86352 non-null   object
 24  상세구분코드      70529 non-null   object
 25  상세구분명칭      70529 non-null   object
 26  재무제표기준년월    74616 non-null   float64
 27  재무제표계정과목코드  74616 non-null   object
 28  재무제표계정과목명   74616 non-null   object
 29  재무제표계정과목금액  58793 non-null   float64
 30  구성비율        55045 non-null   float64
 31  증감율         55105 non-null   float64
 32  최종평판점수      14987 non-null   float64
 33  최종평판등급      14987 non-null   object
 34  일반평판점수      93312 non-null   float64
 35  일반평판등급      14987 non-null   object
 36  미래평판점수      93312 non-null   float64
 37  미래평판등급      14987 non-null   object
 38  사회적책임점수     444188 non-null  float64
 39  사회적책임등급     14987 non-null   object
 40  대중평판점수      444188 non-null  float64
 41  대중평판등급      14987 non-null   object
 42  고용평판점수      14987 non-null   float64
 43  고용평판등급      14987 non-null   object
 44  신용평판점수      14987 non-null   float64
 45  신용평판등급      14987 non-null   object
 46  기업프로파일점수    444188 non-null  float64
 47  기업프로파일등급    14987 non-null   object
 48  사업계획점수      444188 non-null  float64
 49  사업계획등급      14987 non-null   object
 50  경제적책임점수     444188 non-null  float64
 51  경제적책임등급     14987 non-null   object
 52  법적책임점수      14987 non-null   float64
 53  법적책임등급      14987 non-null   object
 54  윤리적책임점수     14987 non-null   float64
 55  윤리적책임등급     14987 non-null   object
 56  자선적책임점수     14987 non-null   float64
 57  자선적책임등급     14987 non-null   object
 58  작업구분코드      522902 non-null  object
 59  데이터생성일자     522902 non-null  float64
 60  연계처리상태코드    522902 non-null  object
 61  연계처리일자      0 non-null       float64
dtypes: float64(26), int64(1), object(35)
memory usage: 307.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 640530 entries, 0 to 640529
Data columns (total 58 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   사업자등록번호     640530 non-null  int64
 1   데이터수집일자     630530 non-null  float64
 2   대표자명        9835 non-null    object
 3   전화번호        9296 non-null    object
 4   팩스전화번호      7022 non-null    object
 5   우편번호        7902 non-null    float64
 6   주소          9737 non-null    object
 7   상세주소        8036 non-null    object
 8   기업형태        9835 non-null    object
 9   기업규모        21425 non-null   object
 10  공기업구분       8142 non-null    object
 11  산업분류코드      9816 non-null    float64
 12  산업분류코드설명    9813 non-null    object
 13  기업코드        11605 non-null   float64
 14  업종          2644 non-null    object
 15  업종명         8959 non-null    object
 16  CRI등급       11605 non-null   object
 17  CRI기준일      11605 non-null   float64
 18  결산일자        2410 non-null    float64
 19  CRI등급설명     11605 non-null   object
 20  CRI등급명세     2644 non-null    object
 21  조사년도        86352 non-null   float64
 22  재무보고서구분코드   86352 non-null   object
 23  재무보고서명칭     86352 non-null   object
 24  상세구분코드      70529 non-null   object
 25  상세구분명칭      70529 non-null   object
 26  재무제표기준년월    74616 non-null   float64
 27  재무제표계정과목코드  74616 non-null   object
 28  재무제표계정과목명   74616 non-null   object
 29  재무제표계정과목금액  58793 non-null   float64
 30  구성비율        55045 non-null   float64
 31  증감율         55105 non-null   float64
 32  최종평판점수      14987 non-null   float64
 33  최종평판등급      14987 non-null   object
 34  일반평판점수      93312 non-null   float64
 35  일반평판등급      14987 non-null   object
 36  미래평판점수      93312 non-null   float64
 37  미래평판등급      14987 non-null   object
 38  사회적책임점수     444188 non-null  float64
 39  사회적책임등급     14987 non-null   object
 40  대중평판점수      444188 non-null  float64
 41  대중평판등급      14987 non-null   object
 42  고용평판점수      14987 non-null   float64
 43  고용평판등급      14987 non-null   object
 44  신용평판점수      14987 non-null   float64
 45  신용평판등급      14987 non-null   object
 46  기업프로파일점수    444188 non-null  float64
 47  기업프로파일등급    14987 non-null   object
 48  사업계획점수      444188 non-null  float64
 49  사업계획등급      14987 non-null   object
 50  경제적책임점수     444188 non-null  float64
 51  경제적책임등급     14987 non-null   object
 52  법적책임점수      14987 non-null   float64
 53  법적책임등급      14987 non-null   object
 54  윤리적책임점수     14987 non-null   float64
 55  윤리적책임등급     14987 non-null   object
 56  자선적책임점수     14987 non-null   float64
 57  자선적책임등급     14987 non-null   object
dtypes: float64(24), int64(1), object(33)
memory usage: 288.3+ MB
None

In [83]:
df_m_credit_finances_repu.to_csv("data_merged.csv", encoding = "cp949")

In [84]:
df_m_credit_finances_repu.shape

(640530, 58)

In [85]:
(df_m_credit_finances_repu.isnull().sum() / 640530) * 100

사업자등록번호        0.000000
데이터수집일자        1.561207
대표자명          98.464553
전화번호          98.548702
팩스전화번호        98.903720
우편번호          98.766334
주소            98.479853
상세주소          98.745414
기업형태          98.464553
기업규모          96.655114
공기업구분         98.728865
산업분류코드        98.467519
산업분류코드설명      98.467987
기업코드          98.188219
업종            99.587217
업종명           98.601315
CRI등급         98.188219
CRI기준일        98.188219
결산일자          99.623749
CRI등급설명       98.188219
CRI등급명세       99.587217
조사년도          86.518664
재무보고서구분코드     86.518664
재무보고서명칭       86.518664
상세구분코드        88.988962
상세구분명칭        88.988962
재무제표기준년월      88.350897
재무제표계정과목코드    88.350897
재무제표계정과목명     88.350897
재무제표계정과목금액    90.821195
구성비율          91.406335
증감율           91.396968
최종평판점수        97.660219
최종평판등급        97.660219
일반평판점수        85.432064
일반평판등급        97.660219
미래평판점수        85.432064
미래평판등급        97.660219
사회적책임점수       30.653053
사회적책임등급       97.660219
대중평판점수        30.653053
대중평판등급        97.660219
고용평판점수        97.660219
고용평판등급        97.660219
신용평판점수        97.660219
신용평판등급        97.660219
기업프로파일점수      30.653053
기업프로파일등급      97.660219
사업계획점수        30.653053
사업계획등급        97.660219
경제적책임점수       30.653053
경제적책임등급       97.660219
법적책임점수        97.660219
법적책임등급        97.660219
윤리적책임점수       97.660219
윤리적책임등급       97.660219
자선적책임점수       97.660219
자선적책임등급       97.660219
dtype: float64

## 최종 데이터셋 확인

In [54]:
df_merged = pd.read_csv("data_merged.csv", encoding = "cp949")
print(df_merged.shape)
print(df_merged.info())

C:\Users\Conet\AppData\Local\Temp\ipykernel_16420\2573687772.py:1: DtypeWarning: Columns (3,4,5,6,8,9,10,11,12,14,16,17,18,21,22,24,25,26,27,29,30,35,37,39,41,43,45,47,49,51,53,55,57,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged = pd.read_csv("data_merged.csv", encoding = "cp949")

(640541, 60)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640541 entries, 0 to 640540
Data columns (total 60 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  640541 non-null  int64
 1   사업자등록번호     640541 non-null  int64
 2   데이터수집일자     630541 non-null  float64
 3   기업명         21440 non-null   object
 4   대표자명        9835 non-null    object
 5   전화번호        9296 non-null    object
 6   팩스전화번호      7022 non-null    object
 7   우편번호        7902 non-null    float64
 8   주소          9737 non-null    object
 9   상세주소        8036 non-null    object
 10  기업형태        9835 non-null    object
 11  기업규모        21436 non-null   object
 12  공기업구분       8142 non-null    object
 13  산업분류코드      9816 non-null    float64
 14  산업분류코드설명    9813 non-null    object
 15  기업코드        11605 non-null   float64
 16  업종          2644 non-null    object
 17  업종명         8959 non-null    object
 18  CRI등급       11605 non-null   object
 19  CRI기준일      11605 non-null   float64
 20  결산일자        2410 non-null    float64
 21  CRI등급설명     11605 non-null   object
 22  CRI등급명세     2644 non-null    object
 23  조사년도        86352 non-null   float64
 24  재무보고서구분코드   86352 non-null   object
 25  재무보고서명칭     86352 non-null   object
 26  상세구분코드      70529 non-null   object
 27  상세구분명칭      70529 non-null   object
 28  재무제표기준년월    74616 non-null   float64
 29  재무제표계정과목코드  74616 non-null   object
 30  재무제표계정과목명   74616 non-null   object
 31  재무제표계정과목금액  58793 non-null   float64
 32  구성비율        55045 non-null   float64
 33  증감율         55105 non-null   float64
 34  최종평판점수      14987 non-null   float64
 35  최종평판등급      14987 non-null   object
 36  일반평판점수      93312 non-null   float64
 37  일반평판등급      14987 non-null   object
 38  미래평판점수      93312 non-null   float64
 39  미래평판등급      14987 non-null   object
 40  사회적책임점수     444188 non-null  float64
 41  사회적책임등급     14987 non-null   object
 42  대중평판점수      444188 non-null  float64
 43  대중평판등급      14987 non-null   object
 44  고용평판점수      14987 non-null   float64
 45  고용평판등급      14987 non-null   object
 46  신용평판점수      14987 non-null   float64
 47  신용평판등급      14987 non-null   object
 48  기업프로파일점수    444188 non-null  float64
 49  기업프로파일등급    14987 non-null   object
 50  사업계획점수      444188 non-null  float64
 51  사업계획등급      14987 non-null   object
 52  경제적책임점수     444188 non-null  float64
 53  경제적책임등급     14987 non-null   object
 54  법적책임점수      14987 non-null   float64
 55  법적책임등급      14987 non-null   object
 56  윤리적책임점수     14987 non-null   float64
 57  윤리적책임등급     14987 non-null   object
 58  자선적책임점수     14987 non-null   float64
 59  자선적책임등급     14987 non-null   object
dtypes: float64(24), int64(2), object(34)
memory usage: 293.2+ MB
None

In [56]:
df_merged = df_merged.drop(['Unnamed: 0'], axis = 1)
df_merged.columns

Index(['사업자등록번호', '데이터수집일자', '기업명', '대표자명', '전화번호', '팩스전화번호', '우편번호', '주소',
       '상세주소', '기업형태', '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명', '기업코드', '업종',
       '업종명', 'CRI등급', 'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '조사년도',
       '재무보고서구분코드', '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드',
       '재무제표계정과목명', '재무제표계정과목금액', '구성비율', '증감율', '최종평판점수', '최종평판등급', '일반평판점수',
       '일반평판등급', '미래평판점수', '미래평판등급', '사회적책임점수', '사회적책임등급', '대중평판점수', '대중평판등급',
       '고용평판점수', '고용평판등급', '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급',
       '사업계획점수', '사업계획등급', '경제적책임점수', '경제적책임등급', '법적책임점수', '법적책임등급', '윤리적책임점수',
       '윤리적책임등급', '자선적책임점수', '자선적책임등급'],
      dtype='object')

In [57]:
df_merged.columns = ['사업자등록번호_마스킹', '데이터수집일자', '기업명', '대표자명', '전화번호', '팩스전화번호', '우편번호', '주소',
       '상세주소', '기업형태', '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명', '기업코드', '업종',
       '업종명', 'CRI등급', 'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '조사년도',
       '재무보고서구분코드', '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드',
       '재무제표계정과목명', '재무제표계정과목금액', '구성비율', '증감율', '최종평판점수', '최종평판등급', '일반평판점수',
       '일반평판등급', '미래평판점수', '미래평판등급', '사회적책임점수', '사회적책임등급', '대중평판점수', '대중평판등급',
       '고용평판점수', '고용평판등급', '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급',
       '사업계획점수', '사업계획등급', '경제적책임점수', '경제적책임등급', '법적책임점수', '법적책임등급', '윤리적책임점수',
       '윤리적책임등급', '자선적책임점수', '자선적책임등급']

### 1. 사업등록번호와 매핑

In [49]:
mapp_info = pd.read_csv("E:/project_datasets_final/mapping_info.csv")
mapp_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   사업자등록번호      10000 non-null  int64
 1   사업자등록번호_마스킹  10000 non-null  int64
 2   기업명          9881 non-null   object
 3   대표자명         9881 non-null   object
dtypes: int64(2), object(2)
memory usage: 312.6+ KB

In [50]:
mapp_info.head()

      사업자등록번호  사업자등록번호_마스킹      기업명 대표자명
0  1240440311   1240400001  에스케이텔레콤  신현국
1  1242151566   1242100002  에스케이텔레콤  이재영
2  1171449462   1171400003  에스케이텔레콤  임채선
3  1212087845   1212000004  에스케이텔레콤  김현미
4  1274051488   1274000005      네이버  김태영

In [58]:
df1 = pd.merge(df_merged, mapp_info, how = 'outer', on = '사업자등록번호_마스킹')
df1

,사업자등록번호_마스킹,데이터수집일자,기업명_x,대표자명_x,전화번호,팩스전화번호,우편번호,주소,상세주소,기업형태,기업규모,공기업구분,산업분류코드,산업분류코드설명,기업코드,업종,업종명,CRI등급,CRI기준일,결산일자,CRI등급설명,CRI등급명세,조사년도,재무보고서구분코드,재무보고서명칭,상세구분코드,상세구분명칭,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,구성비율,증감율,최종평판점수,최종평판등급,일반평판점수,일반평판등급,미래평판점수,미래평판등급,사회적책임점수,사회적책임등급,대중평판점수,대중평판등급,고용평판점수,고용평판등급,신용평판점수,신용평판등급,기업프로파일점수,기업프로파일등급,사업계획점수,사업계획등급,경제적책임점수,경제적책임등급,법적책임점수,법적책임등급,윤리적책임점수,윤리적책임등급,자선적책임점수,자선적책임등급,사업자등록번호,기업명_y,대표자명_y
0,1068101837,20211228.0,(주)세***,박**,02-6226-9900,02-6226-9920,4799.0,서울 성동구 광나루로8길 31,406호~408호 (성수동2가),일반,중소기업,일반기업,42322.0,내부 통신배선 공사업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
1,1068101837,20220306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1,재무상태표,anly,분석형,201712.0,M11000,유동자산,5383611.0,83.45,23.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
2,1068101837,20220306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1,재무상태표,anly,분석형,201712.0,M11100,당좌자산,4117268.0,63.82,22.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
3,1068101837,20220306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1,재무상태표,anly,분석형,201712.0,M11500,재고자산,1266343.0,19.63,29.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
4,1068101837,20220306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1,재무상태표,anly,분석형,201712.0,M12000,비유동자산,1067533.0,16.55,12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640538,8638600652,20220903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640539,8678701330,20220903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640540,8878800216,20220903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640541,1330300085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.330355e+09,제이엔씨,장민호
640542,1088108345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.088164e+09,(주)제이엠애니메이션,정미

In [59]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 640543 entries, 0 to 640542
Data columns (total 62 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   사업자등록번호_마스킹  640543 non-null  int64
 1   데이터수집일자      630541 non-null  float64
 2   기업명_x        21440 non-null   object
 3   대표자명_x       9835 non-null    object
 4   전화번호         9296 non-null    object
 5   팩스전화번호       7022 non-null    object
 6   우편번호         7902 non-null    float64
 7   주소           9737 non-null    object
 8   상세주소         8036 non-null    object
 9   기업형태         9835 non-null    object
 10  기업규모         21436 non-null   object
 11  공기업구분        8142 non-null    object
 12  산업분류코드       9816 non-null    float64
 13  산업분류코드설명     9813 non-null    object
 14  기업코드         11605 non-null   float64
 15  업종           2644 non-null    object
 16  업종명          8959 non-null    object
 17  CRI등급        11605 non-null   object
 18  CRI기준일       11605 non-null   float64
 19  결산일자         2410 non-null    float64
 20  CRI등급설명      11605 non-null   object
 21  CRI등급명세      2644 non-null    object
 22  조사년도         86352 non-null   float64
 23  재무보고서구분코드    86352 non-null   object
 24  재무보고서명칭      86352 non-null   object
 25  상세구분코드       70529 non-null   object
 26  상세구분명칭       70529 non-null   object
 27  재무제표기준년월     74616 non-null   float64
 28  재무제표계정과목코드   74616 non-null   object
 29  재무제표계정과목명    74616 non-null   object
 30  재무제표계정과목금액   58793 non-null   float64
 31  구성비율         55045 non-null   float64
 32  증감율          55105 non-null   float64
 33  최종평판점수       14987 non-null   float64
 34  최종평판등급       14987 non-null   object
 35  일반평판점수       93312 non-null   float64
 36  일반평판등급       14987 non-null   object
 37  미래평판점수       93312 non-null   float64
 38  미래평판등급       14987 non-null   object
 39  사회적책임점수      444188 non-null  float64
 40  사회적책임등급      14987 non-null   object
 41  대중평판점수       444188 non-null  float64
 42  대중평판등급       14987 non-null   object
 43  고용평판점수       14987 non-null   float64
 44  고용평판등급       14987 non-null   object
 45  신용평판점수       14987 non-null   float64
 46  신용평판등급       14987 non-null   object
 47  기업프로파일점수     444188 non-null  float64
 48  기업프로파일등급     14987 non-null   object
 49  사업계획점수       444188 non-null  float64
 50  사업계획등급       14987 non-null   object
 51  경제적책임점수      444188 non-null  float64
 52  경제적책임등급      14987 non-null   object
 53  법적책임점수       14987 non-null   float64
 54  법적책임등급       14987 non-null   object
 55  윤리적책임점수      14987 non-null   float64
 56  윤리적책임등급      14987 non-null   object
 57  자선적책임점수      14987 non-null   float64
 58  자선적책임등급      14987 non-null   object
 59  사업자등록번호      96316 non-null   float64
 60  기업명_y        96008 non-null   object
 61  대표자명_y       96008 non-null   object
dtypes: float64(25), int64(1), object(36)
memory usage: 307.9+ MB

In [60]:
df1 = df1.drop(['기업명_x', '대표자명_x'], axis = 1)
df1

,사업자등록번호_마스킹,데이터수집일자,전화번호,팩스전화번호,우편번호,주소,상세주소,기업형태,기업규모,공기업구분,산업분류코드,산업분류코드설명,기업코드,업종,업종명,CRI등급,CRI기준일,결산일자,CRI등급설명,CRI등급명세,조사년도,재무보고서구분코드,재무보고서명칭,상세구분코드,상세구분명칭,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,구성비율,증감율,최종평판점수,최종평판등급,일반평판점수,일반평판등급,미래평판점수,미래평판등급,사회적책임점수,사회적책임등급,대중평판점수,대중평판등급,고용평판점수,고용평판등급,신용평판점수,신용평판등급,기업프로파일점수,기업프로파일등급,사업계획점수,사업계획등급,경제적책임점수,경제적책임등급,법적책임점수,법적책임등급,윤리적책임점수,윤리적책임등급,자선적책임점수,자선적책임등급,사업자등록번호,기업명_y,대표자명_y
0,1068101837,20211228.0,02-6226-9900,02-6226-9920,4799.0,서울 성동구 광나루로8길 31,406호~408호 (성수동2가),일반,중소기업,일반기업,42322.0,내부 통신배선 공사업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
1,1068101837,20220306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1,재무상태표,anly,분석형,201712.0,M11000,유동자산,5383611.0,83.45,23.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
2,1068101837,20220306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1,재무상태표,anly,분석형,201712.0,M11100,당좌자산,4117268.0,63.82,22.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
3,1068101837,20220306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1,재무상태표,anly,분석형,201712.0,M11500,재고자산,1266343.0,19.63,29.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
4,1068101837,20220306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1,재무상태표,anly,분석형,201712.0,M12000,비유동자산,1067533.0,16.55,12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.068157e+09,세호영상,박석신
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640538,8638600652,20220903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640539,8678701330,20220903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640540,8878800216,20220903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640541,1330300085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.330355e+09,제이엔씨,장민호
640542,1088108345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.088164e+09,(주)제이엠애니메이션,정미

In [61]:
df1.columns

Index(['사업자등록번호_마스킹', '데이터수집일자', '전화번호', '팩스전화번호', '우편번호', '주소', '상세주소',
       '기업형태', '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명', '기업코드', '업종', '업종명',
       'CRI등급', 'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '조사년도', '재무보고서구분코드',
       '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드', '재무제표계정과목명',
       '재무제표계정과목금액', '구성비율', '증감율', '최종평판점수', '최종평판등급', '일반평판점수', '일반평판등급',
       '미래평판점수', '미래평판등급', '사회적책임점수', '사회적책임등급', '대중평판점수', '대중평판등급', '고용평판점수',
       '고용평판등급', '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급', '사업계획점수',
       '사업계획등급', '경제적책임점수', '경제적책임등급', '법적책임점수', '법적책임등급', '윤리적책임점수',
       '윤리적책임등급', '자선적책임점수', '자선적책임등급', '사업자등록번호', '기업명_y', '대표자명_y'],
      dtype='object')

In [62]:
df1.columns = ['사업자등록번호_마스킹', '데이터수집일자', '전화번호', '팩스전화번호', '우편번호', '주소', '상세주소',
       '기업형태', '기업규모', '공기업구분', '산업분류코드', '산업분류코드설명', '기업코드', '업종', '업종명',
       'CRI등급', 'CRI기준일', '결산일자', 'CRI등급설명', 'CRI등급명세', '조사년도', '재무보고서구분코드',
       '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드', '재무제표계정과목명',
       '재무제표계정과목금액', '구성비율', '증감율', '최종평판점수', '최종평판등급', '일반평판점수', '일반평판등급',
       '미래평판점수', '미래평판등급', '사회적책임점수', '사회적책임등급', '대중평판점수', '대중평판등급', '고용평판점수',
       '고용평판등급', '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급', '사업계획점수',
       '사업계획등급', '경제적책임점수', '경제적책임등급', '법적책임점수', '법적책임등급', '윤리적책임점수',
       '윤리적책임등급', '자선적책임점수', '자선적책임등급', '사업자등록번호', '기업명', '대표자명']

In [63]:
df1.shape

(640543, 60)

In [64]:
df1.describe(include = 'all')

,사업자등록번호_마스킹,데이터수집일자,전화번호,팩스전화번호,우편번호,주소,상세주소,기업형태,기업규모,공기업구분,산업분류코드,산업분류코드설명,기업코드,업종,업종명,CRI등급,CRI기준일,결산일자,CRI등급설명,CRI등급명세,조사년도,재무보고서구분코드,재무보고서명칭,상세구분코드,상세구분명칭,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,구성비율,증감율,최종평판점수,최종평판등급,일반평판점수,일반평판등급,미래평판점수,미래평판등급,사회적책임점수,사회적책임등급,대중평판점수,대중평판등급,고용평판점수,고용평판등급,신용평판점수,신용평판등급,기업프로파일점수,기업프로파일등급,사업계획점수,사업계획등급,경제적책임점수,경제적책임등급,법적책임점수,법적책임등급,윤리적책임점수,윤리적책임등급,자선적책임점수,자선적책임등급,사업자등록번호,기업명,대표자명
count,6.405430e+05,6.305410e+05,9296,7022,7902.000000,9737,8036,9835,21436,8142,9816.000000,9813,1.160500e+04,2644,8959,11605,1.160500e+04,2.410000e+03,11605,2644,86352.000000,86352.0,86352,70529,70529,74616.000000,74616,74616,5.879300e+04,5.504500e+04,55105.000000,14987.000000,14987,93312.000000,14987,93312.000000,14987,444188.000000,14987,444188.000000,14987,14987.000000,14987,14987.000000,14987,444188.000000,14987,444188.000000,14987,444188.000000,14987,14987.000000,14987,14987.000000,14987,14987.000000,14987,9.631600e+04,96008,96008
unique,NaN,NaN,9202,6933,NaN,8331,7467,11,6,2,NaN,686,NaN,2,19,11,NaN,NaN,11,5,NaN,11.0,7,1,1,NaN,119,82,NaN,NaN,NaN,NaN,4,NaN,5,NaN,4,NaN,5,NaN,5,NaN,5,NaN,5,NaN,4,NaN,4,NaN,4,NaN,5,NaN,5,NaN,4,NaN,8880,8384
top,NaN,NaN,0507-1333-6386,--,NaN,서울특별시 금천구 가산디지털1로,(역삼동),일반,중소기업,일반기업,NaN,일반 통신 공사업,NaN,M,건 설 업,B2,NaN,NaN,"비교적 무난한 수준의 단기거래 신용능력을 보유하지만, 장래의 거래안정성에 다소 부정...",양호,NaN,1.0,재무상태표,anly,분석형,NaN,M11000,유동자산,NaN,NaN,NaN,NaN,D,NaN,D,NaN,D,NaN,C,NaN,D,NaN,D,NaN,E,NaN,D,NaN,D,NaN,D,NaN,A,NaN,A,NaN,D,NaN,금강종합건설,이승훈
freq,NaN,NaN,9,27,NaN,20,17,8362,20153,8135,NaN,695,NaN,2638,3595,2239,NaN,NaN,2239,1208,NaN,52252.0,70470,70529,70529,NaN,7844,7848,NaN,NaN,NaN,NaN,11695,NaN,10103,NaN,12456,NaN,5231,NaN,13868,NaN,12264,NaN,10944,NaN,9886,NaN,11931,NaN,7886,NaN,14771,NaN,14741,NaN,14924,NaN,120,80
mean,3.154383e+09,2.022005e+07,NaN,NaN,22469.392179,NaN,NaN,NaN,NaN,NaN,49827.448044,NaN,4.544291e+06,NaN,NaN,NaN,2.022051e+07,2.019930e+07,NaN,NaN,2017.570213,NaN,NaN,NaN,NaN,201756.590731,NaN,NaN,3.083115e+07,7.087680e+08,2835.270052,55.699181,NaN,23.291257,NaN,68.360331,NaN,8.144264,NaN,8.770798,NaN,51.286048,NaN,38.702209,NaN,44.153218,NaN,1.973769,NaN,2.418487,NaN,99.339428,NaN,99.217322,NaN,50.304264,NaN,3.330648e+09,NaN,NaN
std,2.274645e+09,2.101274e+03,NaN,NaN,19128.401970,NaN,NaN,NaN,NaN,NaN,13270.327836,NaN,2.618736e+06,NaN,NaN,NaN,1.152878e+03,1.189027e+04,NaN,NaN,1.117856,NaN,NaN,NaN,NaN,106.207399,NaN,NaN,1.918683e+09,2.660872e+10,4455.380296,6.308087,NaN,3.949355,NaN,24.540533,NaN,1.082690,NaN,8.692939,NaN,10.781825,NaN,21.356722,NaN,7.073224,NaN,10.718207,NaN,13.369912,NaN,5.476497,NaN,5.916132,NaN,2.302706,NaN,2.242903e+09,NaN,NaN
min,1.000862e+09,2.021082e+07,NaN,NaN,1025.000000,NaN,NaN,NaN,NaN,NaN,1123.000000,NaN,1.100089e+06,NaN,NaN,NaN,2.020110e+07,2.007123e+07,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,201601.000000,NaN,NaN,-1.073607e+09,-4.638800e+03,-9999.990000,37.625000,NaN,14.000000,NaN,13.125000,NaN,-36.000000,NaN,0.000000,NaN,20.000000,NaN,10.000000,NaN,0.080000,NaN,0.000000,NaN,-22.000000,NaN,0.000000,NaN,0.000000,NaN,50.000000,NaN,1.010165e+09,NaN,NaN
25%,1.208457e+09,2.022022e+07,NaN,NaN,6692.250000,NaN,NaN,NaN,NaN,NaN,42201.000000,NaN,1.976513e+06,NaN,NaN,NaN,2.022072e+07,2.020123e+07,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN,201712.000000,NaN,NaN,4.500000e+04,5.050000e+00,-1.380000,50.737500,NaN,21.564736,NaN,79.036443,NaN,8.000000,NaN,6.364395,NaN,50.000000,NaN,30.000000,NaN,43.757000,NaN,0.000000,NaN,0.000000,NaN,100.000000,NaN,100.000000,NaN,50.000000,NaN,1.228153e+09,NaN,NaN
50%,2.148876e+09,2.022042e+07,NaN,NaN,14093.000000,NaN,NaN,NaN,NaN,NaN,46453.000000,NaN,4.017957e+06,NaN,NaN,NaN,2.022072e+07,2.020123e+07,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN,201712.000000,NaN,NaN,2.477780e+05,2.604000e+01,28.460000,55.237500,NaN,21.564736,NaN,79.036443,NaN,8.000000,NaN,6.364395,NaN,50.000000,NaN,30.000000,NaN,43.757000,NaN,0.000000,NaN,0.000000,NaN,100.000000,NaN,100.000000,NaN,50.000000,NaN,2.318103e+09,NaN,NaN
75%,5.053675e+09,2.022082e+07,NaN,NaN,37338.750000,NaN,NaN,NaN,NaN,NaN,62010.000000,NaN,6.680148e+06,NaN,NaN,NaN,2.022072e+07,2.020123e+07,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN,201812.000000,NaN,NaN,1.142096e+06,7.728000e+01,9999.990000,59.075000,NaN,22.984586,NaN,79.036443,NaN,8.000000,NaN,6.515338,NaN,50.000000,NaN,50.000000,NaN,43.757000,NaN,0.000000,NaN,0.000000,NaN,100.000000,NaN,100.000000,NaN,50.000000,NaN,5.048528e+09,NaN,NaN
max,9.876543e+09,2.022102e+07,NaN,NaN,430815.000000,NaN,NaN,NaN,NaN,NaN,96995.000000,NaN,1.105404e+07,NaN,NaN,NaN,2.022072e+07,2.021123e+07,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,202112.000000,NaN,NaN,3.012050e+11,1.000000e+12,9999.990000,82.550000,NaN,135.006715,NaN,218.324111,NaN,44.000000,NaN,100.000000,NaN,100.000000,NaN,100.000000,NaN,100.000000,NaN,100.000000,NaN,100.000000,NaN,100.000000,NaN,100.000000,NaN,100.000000,NaN,8.998801e+09,NaN,NaN

### - 컬럼별 결측치 갯수 및 비율 확인하기